html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}


body{
  font-family: 'Open Sans', sans-serif;
}

h1, h3 {
  font-family: 'Roboto Slab', serif;
}

h1 {
  color: #00a79d;
}

h1 span {
  color: #6d6e71;
}

li {
  list-style-type: none;
}

.header-container {
  background-color: #e5f3f2;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  font-size: 40px;
  padding-top: 20px;
  width: 100%;
}

.input-container {
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: 20px;
  width: 60vw;
}

.title, .body, .save-button {
  width: 100%;
  margin-bottom: 10px;
  padding-left: 8px;
}

.title, .body {
  font-size: 20px;
  border: 2px solid lightgrey;
}

.save-button {
  background-color: #00a79d;
  color: #ffffff;
  border: none;
  height: 30px;
  font-size: 18px;
  margin-bottom: 30px;
  text-align: center;
}

.save-button:hover {
  background-color: #045e55;
  cursor: pointer;
}

.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  width: 100%;
}

.search {
  font-size: 20px;
  border: 2px solid lightgrey;
  margin-bottom: 25px;
  padding-left: 8px;
  width: 60vw;
}

.message-to-user {
  font-size: 15px;
  text-align: center;
}

.new-body-input {
  color: #939598;
}

.list-container{
  display: flex;
  align-items: center;
  flex-direction: column;
  color: #6d6e71;
}

.list-item {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  border-bottom: 1px solid #D1D3D4;
  width: 60vw;
}

.title-style, .body-style, .quality-style {
  display: flex;
}

.quality-style {
  align-items: center;
  padding-bottom: 15px;
}

.title-style {
  font-size: 1.3em;
  font-family: 'Roboto Slab', serif;
  margin-bottom: 15px;
}

.body-style{
  font-size:;
  margin-bottom: 15px;
  line-height: 1.2;
}

.quality {
  font-size: .9em;
  font-family: 'Roboto Slab', serif;
  padding-left: 8px;
}

.quality-value {
  padding-left: 3px;
}

.btn {
  width: 25px;
  height: 25px;
  padding: 0 14px;
}

button:focus {
  outline:none;
}

.remove-button{
  background: url(icons/delete.svg) no-repeat;
  border: none;
  margin-left: auto;
}

.remove-button:hover {
  background: url(icons/delete-hover.svg) no-repeat;
}

.upvote{
  background: url(icons/upvote.svg) no-repeat;
  border: none;
}

.upvote:hover {
  background: url(icons/upvote-hover.svg) no-repeat;
}

.downvote{
  background: url(icons/downvote.svg) no-repeat;
  border: none;
}
.downvote:hover {
  background: url(icons/downvote-hover.svg) no-repeat;
}

@-ms-viewport{
 width: device-width;
}
